body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../images/hotel.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    background: rgba(0, 0, 0, 0.6);
}

.left-column {
    width: 60%;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
}

.right-column {
    width: 40%;
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: lightgreen;
    text-align: center;
}

.hotel-info {
    border-top: 1px solid white;
    padding-top: 10px;
}
